{%extends "volunteer/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-8">Organization Registation</legend>
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register</button>
            </div>
</form>
		</form>
{% endblock content %}
